{#
/**
* @file
* Page for show all cats in table
*
* Availible variables:
*
* - cats_list: Array list all cats:
*   - id: ID for cats from row in database table
*   - cats_name: Name cats from database
*   - email: Email for owner cats
*   - image_url: Url to image cats on server
*   - created: Timestamp created row cats on database
* - form_edit: Array list all cats:
*   - id: ID for cats from row in database table
*   - cats_name: Name cats from database
*   - email: Email for owner cats
*   - image_url: Url to image cats on server
*   - created: Timestamp created row cats on database
*/
#}

<table class="table">
	{% for cat in cats_list %}
		<tr class="table-row">
			<td class="table-col">
				<div class="form-check">
					<input class="form-check-input js-delete-list" data-cat-id="{{ cat.id}}" type="checkbox" value="" id="flexCheckDefault">
				</div>
			</td>
			<td class="table-col">{{ cat.cats_name }}</td>

			<td class="table-col">{{ cat.email }}</td>

			<td class="table-col text-center">
				<a href="/sites/default/files/cats_images/{{ cat.image_url }}" class="link-image">
					{% if not cat.image_url is empty %}
						<img class="img-thumbnail w-50" src="/sites/default/files/cats_images/{{ cat.image_url }}" alt="{{ cat.cats_name }}"/>
					{% endif %}
				</a>
			</td>

			<td class="table-col">{{ cat.created|date("d/m/Y h:i:s") }}</td>

			<td class="table-col">
				<button type="button" class="btn btn-danger js-modal__show" data-bs-toggle="modal" data-cat-id="{{ cat.id }}" data-bs-target="#deleteModal">
					{{ "Delete" | t }}
				</button>
			</td>

			<td class="table-col">
				<button type="button" data-bs-toggle="modal" data-bs-target="#editModal" data-image-field="{{cat.image_url}}" data-cat-id="{{ cat.id }}" class=" js-modal__show btn-primary btn">
					{{ "Edit" | t }}
				</button>
			</td>
		</tr>
	{% endfor %}
</table>
<button type="button" id="js-delete-some" class="btn btn-danger mb-5" data-bs-toggle="modal" data-bs-target="#deleteModal">
	{{ "Delete selected" | t }}
</button>
{# Modal window for delete confirmation #}
<div class="modal fade" aria-labelledby="DeleteModalLabel" aria-hidden="true" id="deleteModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ "Confirm Delete" | t }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>
					{{ "Confirm delete this entry? With cat name " | t }}
					<span class="text-danger">{# To replace text with the name of the string #}</span>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">
					{{ "Cancel" | t }}
				</button>
				{{ form_delete }}
			</div>
		</div>
	</div>
</div>

{# Modal window for edit forms #}
<div class="modal fade" aria-labelledby="EditModalLabel" aria-hidden="true" id="editModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ "Edit entry" | t }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			{{form_edit}}
		</div>
	</div>
</div>
